*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: aliceblue;
}

header {
    background-color: #7363de46;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #000;
}

li > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

li> a:hover {
    color: #fa2727;
    text-decoration: dotted underline;
}

header > nav > ul {
    display: flex;
}

li{
    margin: 0 10px;
    list-style: none;
}

main{
padding-top: 100px;
display: flex;
flex-direction: column;
align-items: center;
}

#


.Button-a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#contatos h2{
    margin: 10px;
}

#contatos nav ul li{
    margin: 23px;
}

#mensagem{
    margin: 10px;
}

textarea{
    resize: none;
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
}

input, textarea{
    margin: 5px;
    height: 25px;
}

a > img {
    width: 40px;
    margin-right: 5px;
}

#seçaoContatos{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

footer{
    border: solid 2px black;
    background-color: #0000001b;
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.libertinus-sans-regular {
font-family: "Libertinus Sans", sans-serif;
font-weight: 400;
font-style: normal;
}

.libertinus-sans-bold {
font-family: "Libertinus Sans", sans-serif;
font-weight: 700;
font-style: normal;
}

.libertinus-sans-regular-italic {
font-family: "Libertinus Sans", sans-serif;
font-weight: 400;
font-style: italic;
}
